[Unit]
Description=Remote desktop service (VNC)
After=syslog.target network-online.target

[Service]
Type=simple
Restart=always
User=anirudh
WorkingDirectory=/home/anirudh

# Clean any existing files in /tmp/.X11-unix environment
ExecStartPre=-/usr/bin/vncserver -kill -clean :%i
#ExecStart=/usr/bin/vncserver -geometry 1366x768 --depth 16 -fg -autokill -localhost no :%i
ExecStart=/usr/bin/vncserver :%i
ExecStop=/usr/bin/vncserver -kill :%i

[Install]
WantedBy=multi-user.target

