[Unit]  
Description=AirConnect Chromecast  bridge  
After=network-online.target  
Wants=network-online.target  

[Service]
user=root
ExecStart=/var/lib/airconnect/aircast-arm -I -Z -x /var/lib/airconnect/config.xml 
Restart=on-failure  
RestartSec=30  

[Install]  
WantedBy=multi-user.target  
