[Unit]
Description=MiniDLNA service
After=network.target

[Service]
#User=linaro
#Type=forking
ExecStart=/usr/local/sbin/minidlnad -S -r -f /etc/minidlna.conf
#ExecStart=/usr/local/sbin/minidlnad -S -P /run/minidlna.pid
ExecReload=/bin/kill -s HUP $MAINPID
PIDFile=/run/minidlna.pid

[Install]
WantedBy=multi-user.target

